* {
	font-family: Helvetica;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	margin: 0;
}

body {
	margin: 0 auto;
	font-family: Helvetica;
	font-size: 22px;
	background-color: #000;
	opacity: 0.9;
	color: seashell;
	text-align: center;
}

nav span {
	display: inline-block;
	text-decoration: underline;
}

/* HEADER */
header {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 69px;
	border-bottom: 1px solid seashell;
}

#logo {
	display: flex;
	padding-left: 10px;
	flex-grow: 1;
}

#logo img {
	height: 50px;
	width: auto;
}

header nav {
	padding-right: 10px;
}

/* ADJUST FOR FIXED HEADER */

#content {
	padding-top: 70px;
}

/* MISSION SECTION*/

#mission {
	background-image: url(../images/img-mission-background.jpg);
	background-color: #000;
	background-position: center;
	width: 1200px;
	height: 700px;
	display: flex;
	justify-content: center;
	flex-direction: column;


/* TEA OF THE MONTH SECTION */

#steeping {
	width: 1000px;
}

#steeping-gallery {
	display: flex;
	/*margin: 0 auto;*/
	justify-content: space-around;
	flex-wrap: wrap;
}

.item img {
	display: block;
	height: 200px;
	width: 300px;
}

.item {
	flex-grow: 0;
	flex-basis: 0;
}
